<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<style>

*{
margin:0;
padding:0;
}

   .navbar{
  height: 60px;
  background: grey;
  font-family: Lucida Handwriting;
  font-size: 20px;
  }

.right{
float:right;
word-spacing: 50px;
}
.camera{
float:left;
margin-left:20px;
}
.left{
float:left;
margin-left:20px;
word-spacing: 50px;

}

article {
font-color:red;
text-align:center;
font-size: 8vw;
color:red;
margin-top:170px;
}

footer{
bottom:0;
position:fixed;
width:100%;
}



</style>
<body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <navbar>
    <div class= "navbar">
        <div class = "navbar-header" align="center">
            <div class="logo" style="padding-top:15px ">
                Instagram
                <div class="right" style="padding-right:5px">
                    <i class="fa fa-search"  style="font-size: 30px; a"></i>
                    <i class="fa fa-paper-plane"  style="font-size: 30px; "></i>
                </div>
                <div class="camera">
                    <i class="fa fa-camera"style="font-size: 30px; padding-top:"></i>
                </div>
            </div>
        </div>
    </div>
    </navbar>
    <main>
        <article>
            <h1>Hello Greeks</h1>
        </article>
    </main>
    <footer>
    <div class= "navbar" style="fixed-bottom:0vw">
        <div class = "navbar-header" align="center">
            <div class="center" style="padding-top:15px ">
                <i>
                    <i class="fa fa-plus-square"  style="font-size: 30px; "></i>
                </i>

                <div class="right" style="padding-right:5px">
                    <i class="fa fa-heart"  style="font-size: 30px; s"></i>
                    <i class="fa fa-circle"  style="font-size: 30px; "></i>
                </div>
                <div class="left">
                    <i class="fa fa-play-circle" style="font-size: 30px; padding-top:"></i>
                    <i class="fa fa-home" style="font-size: 30px; padding-top:"></i>
                </div>
            </div>
        </div>
    </div>
    </footer>



</body>
</html>